@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #eee;
}

.container {
  position: relative;
}

.last-tweets-title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.tweet {
  padding: 5px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.tweet-user-img {
  width: 45px;
  height: 45px;
}

.tweet-user {
  color: #000;
}

.tweet-user:hover {
  text-decoration: none;
}

.tweet-user:hover .tweet-user-screen-name {
  color: #1B95E0;
  text-decoration: underline;
}

.config-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 10;
}

.config-btn.open {
  right: 415px;
}

.config-panel {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #428bca;
  border-left: 1px solid #ddd;
  padding: 0 15px;
  min-height: 100%;
  width: 400px;
}

.config-panel .page-header {
  margin-top: 25px;
  border-color: #ddd;
}

.remove-streamer-btn {
  font-size: 9px;
  border: 1px solid #f37676;
  margin-left: 5px;
  padding: 1px 3px;
  line-height: 9px;
  background-color: #ffa9a9;
  color: #555;
  border-radius: 10px;
}